#app {
    height: 100%
}

html,
body {
    position: relative;
    height: 100%;
}

body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

body {
    background: #fff;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

html,
body {
    position: relative;
    height: 100%;
}

#app {
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper {
    width: 230px;
    height: 320px;
}

.swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
}

.swiper-slide:nth-child(1n) {
    background-color: rgb(206, 17, 17);
}

.swiper-slide:nth-child(2n) {
    background-color: rgb(0, 140, 255);
}

.swiper-slide:nth-child(3n) {
    background-color: rgb(10, 184, 111);
}

.swiper-slide:nth-child(4n) {
    background-color: rgb(211, 122, 7);
}

.swiper-slide:nth-child(5n) {
    background-color: rgb(118, 163, 12);
}

.swiper-slide:nth-child(6n) {
    background-color: rgb(180, 10, 47);
}

.swiper-slide:nth-child(7n) {
    background-color: rgb(35, 99, 19);
}

.swiper-slide:nth-child(8n) {
    background-color: rgb(0, 68, 255);
}

.swiper-slide:nth-child(9n) {
    background-color: rgb(218, 12, 218);
}

.swiper-slide:nth-child(10n) {
    background-color: rgb(54, 94, 77);
}



.gallery {
    display: flex;
    flex-wrap: wrap;
}

.gallery .pics {
    width: calc(25% - 12px); /* Set the width of each picture with margin accounted for */
    margin: 6px; /* Margin to separate each picture */
    transition: all 350ms ease;
    cursor: pointer;
}
.gallery .pics:hover {
    opacity: 0.5;
}
@media (max-width: 1200px) {
    .gallery .pics {
        width: calc(33.33% - 12px); /* For smaller screens, set width to one-third with margin accounted for */
    }
}

@media (max-width: 800px) {
    .gallery .pics {
        width: calc(50% - 12px); /* For even smaller screens, set width to one-half with margin accounted for */
    }
}

@media (max-width: 480px) {
    .gallery .pics {
        width: calc(100% - 12px); /* For the smallest screens, set width to full width with margin accounted for */
    }
}

.grid-wrap ul li:nth-child(1){
    grid-row: span 2;
    grid-column: span 3;
}
.grid-wrap ul li:nth-child(2){
    grid-row: span 2;
    grid-column: span 4;
}
.grid-wrap ul li:nth-child(3){
    grid-row: span 2;
    grid-column: span 5;
}
.grid-wrap ul li:nth-child(4){
    grid-row: span 2;
    grid-column: span 6;
}
.grid-wrap ul li:nth-child(5){
    grid-row: span 4;
    grid-column: span 3;
}
.grid-wrap ul li:nth-child(6){
    grid-row: span 2;
    grid-column: span 5;
}
.grid-wrap ul li:nth-child(7){
    grid-row: span 2;
    grid-column: span 6s;
}